<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web-based application with Progressive Web App that provides information about restaurants">
  <meta name="theme-color" content="#885012">

  <!-- Icon and Manifest -->
  <link rel="apple-touch-icon" href="icons/icon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="icons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="icons/favicon-64x64.png" sizes="64x64">
  <link rel="manifest" href="app.webmanifest">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>

  <!-- Title -->
  <title>My Hungry</title>
</head>

<body>
  <!-- Skip to content -->
  <a href="#content" class="skip-link">Skip to content</a>

  <!-- Navbar Mobile -->
  <nav-bar></nav-bar>

  <!-- Jumbotron -->
  <hero-image></hero-image>

  <!-- Content -->
  <main id="content"></main>

  <!-- Footer -->
  <footer>
    <p>Copyright &copy; <span id="footer-year"></span> | <a href="">My Hungry</a></p>
  </footer>
</body>
</html>
