<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title -->
  <title>My Hungry</title>
</head>
<body>
  <!-- Skip to content -->
  <a href="#content" class="skip-link">Skip to content</a>

  <!-- Navbar Mobile -->
  <div class="menu-mobile">
    <div class="icon-menu" id="menu"><a href="#">&#9776;</a></div>
    <div class="logo-mobile"><a href="">My Hungry</a></div>
    <div class="logo-mobile">&nbsp;</div>
  </div>
  <div class="navbar-mobile" id="drawer">
    <ul class="navbar-list-mobile">
      <li class="navbar-item-mobile"><a href="">Home</a></li>
      <li class="navbar-item-mobile"><a href="#">Favorite</a></li>
      <li class="navbar-item-mobile"><a href="https://www.linkedin.com/in/andrewbjamesie" target="_blank">About Us</a></li>
    </ul>
  </div>

  <!-- Navbar Desktop -->
  <div class="navbar-desktop">
    <a href="" class="logo">My Hungry</a>
    <ul class="navbar-list-desktop">
      <li class="navbar-item-desktop"><a href="">Home</a></li>
      <li class="navbar-item-desktop"><a href="#">Favorite</a></li>
      <li class="navbar-item-desktop"><a href="https://www.linkedin.com/in/andrewbjamesie" target="_blank">About Us</a></li>
    </ul>
  </div>

  <!-- Jumbotron -->
  <div class="hero">
    <div class="hero-content">
      <h1 class="hero-title">My Hungry</h1>
      <p class="hero-subtitle">Lapan kan? Cari rumah makan dan restoran terbaik dan ramah di kantong sekarang juga!</p>
    </div>
  </div>

  <!-- Content -->
  <main id="content">
    <section class="content">
      <div class="content-inner">
        <h1>Cari Rumah Makan dan Restoran</h1>
        <div class="content-list" id="list"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2023 | <a href="">My Hungry</a></p>
  </footer>
</body>
</html>
