main {
  margin: 0 auto;
  width: 100%;
}

.content {
  margin: 66px auto 0;
  padding: 32px;
}

.content-inner {
  margin: 0 0 50px;
  width: 100%;
  text-align: center;
}

.content-inner h1 {
  margin: 0 0 14px;
  font-size: 24px;
  font-weight: 700;
}

.content-list {
  margin: 32px auto auto;
  display: grid;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  text-align: left;
}

.content-list-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-list-item-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
	transition: 0.2s opacity;
}

.content-list-item-img:hover {
	opacity: 0.6;
}

.content-list-item-rating {
  top: 12px;
	left: 12px;
	padding: 5px 10px 5px;
	position: absolute;
	color: white;
  font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	background-color: #885012;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-list-item-city {
	top: 12px;
	right: 12px;
	padding: 5px 10px 5px;
	position: absolute;
	color: white;
  font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	background-color: #885012;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-list-item-detail {
	padding: 16px;
}

.content-list-item-title {
	
	transition: 0.2s opacity;
}

.content-list-item-title:hover {
	opacity: 0.6;
}

.content-list-item-title a {
  padding: 16px 0;
	font-weight: 600;
	color: #444444 !important;
	text-decoration: none;
}

.content-list-item-desc {
	font-size: 12px;
	line-height: 1.5em;
}
