@media screen and (max-width: 559px) {
  .navbar-desktop {
    display: none;
  }

  .open {
		transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }

  .hero-content {
    max-width: 400px;
  }

  .detail-content {
    width: 100%;
  }

  .detail-menu {
    width: 100%;
    margin: 0 0 20px;
  }

  .menu-list {
    grid-template-columns: 1fr;
  }

  detail-resto section {
    width: 100%;
  }
}

@media screen and (min-width: 560px) {
  .menu-mobile {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }

  .hero-content {
    max-width: 400px;
  }

  .detail-content {
    width: 100%;
  }

  .detail-menu {
    width: 100%;
    margin: 0 0 20px;
  }

  detail-resto section {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .content-list-item-detail {
    padding: 16px 32px 32px;
  }

  .content-list-item-title {
    font-size: 18px;
  }

  .content-list-item-desc {
    font-size: 14px;
  }

  .hero-content {
    max-width: 450px;
  }

  .detail-content {
    width: 100%;
  }

  .detail-menu {
    width: 100%;
    margin: 0 0 20px;
  }

  detail-resto section {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .content-list {
    grid-template-columns: 1fr 1fr;
  }

  .hero-content {
    max-width: 500px;
  }

  detail-resto {
    max-width: 650px;
  }

  .empty-favorite-img {
    max-width: 650px;
  }
}

@media screen and (min-width: 900px) {
  .content-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-content {
    max-width: 600px;
  }

  detail-resto {
    max-width: 800px;
  }

  .empty-favorite-img {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }

  .hero-content {
    max-width: 1000px;
  }

  detail-resto {
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  detail-resto article {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  detail-resto section {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .detail-content {
    width: 100%;
  }

  .detail-menu {
    width: 100%;
  }

  .menu-list {
    grid-template-columns: 1fr 1fr;
  }

  .empty-favorite-img {
    max-width: 1000px;
  }
}
